button {
  background-color: white;
  color: skyblue;
  border-color: skyblue;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  margin: 15px;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: rgb(89, 147, 255, 1);
  color: white;
}
