.container{
    height: 100vh;
    color: gray;
}
header{
    height: 180px;
    border: 1px solid gray;
}
menu{
    display: flex;
    margin: 0;
    height: 50px;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-evenly;
}
section{
    border: 1px solid gray;
    display: flex;
    height: 100vh;
}
nav, main, aside{
    border : 1px solid gray
}
nav{
    flex-basis: 200px;
}
main{
    flex: 1;
}
aside{
    flex-basis: 170px;
}
footer{
    height: 180px;
    border: 1px solid gray;
}