html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
var,
u,
i,
center,
ol,
ul,
li,
aside,
footer,
header,
menu,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}

.container {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 180px;
}

menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  height: 50px;
  background-color: black;
}

section {
  display: flex;
  min-height: 100vh;
}

nav {
  border: 1px solid gray;
  flex-basis: 200px;
}

main {
  border: 1px solid gray;
  flex: 1;
  padding: 20px;
}

aside {
  border: 1px solid gray;
  flex-basis: 170px;
}

footer {
  border: 1px solid gray;
  height: 180px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
  padding: 30px;
}

h3 {
  padding: 30px;
}

a {
  text-decoration-line: none;
}

.web {
  color: black;
}

ol,
ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.mainTitle {
  color: black;
}

.menusColor {
  color: white;
}

.catelist {
  display: flex;
  height: 40px;
  border-bottom: gray 2px solid;
  width: 70%;
  align-items: center;
}

.catelistColor {
  color: black;
}